/* BUTTONS */
.button {
   display: inline-block;
   background-color: var(--title-color);
   color: var(--container-color);
   padding: 1.25rem 2rem;
   border-radius: 1rem;
   font-weight: var(--font-medium);
}

.button:hover {
   background-color: var(--title-color-dark);
}

.button__icon {
   margin-left: var(--mb-0-5);
}

.button--flex {
   display: inline-flex;
   align-items: center;
}

.hero--content {
   grid-template-columns: 300px repeat(2, 1fr);
   padding-top: 20%;
   align-items: center;
}

.hero--social {
   display: grid;
   grid-template-columns: max-content;
   row-gap: 1rem;
   justify-self: center;
}

.hero--social--icon {
   font-size: 2rem;
   color: var(--title-color);
}

.hero--social--icon:hover {
   color: var(--title-color-dark);
}

.hero--title {
   font-size: 3.5rem;
   margin-bottom: 0.25rem;
}

.hero--subtitle {
   position: relative;
   font-size: 1.25rem;
   padding-left: 5.4rem;
   font-weight: 400;
   margin-bottom: 1rem;
}

.hero--subtitle::before {
   content: '';
   position: absolute;
   width: 70px;
   height: 1px;
   background-color: var(--heading-colour);
   left: 0;
   top: 1rem;
}

.hero--social--icon .hero--social {
   display: grid;
   grid-template-columns: max-content;
   row-gap: 1rem;
}

.hero--img {
   background: url(../../../../public/img/hero_image4.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   order: 1;
   justify-self: center;
   width: 300px;
   height: 300px;
   border: 3px solid;
   animation: profile--animate 8s ease-in-out infinite 1s;
}

@keyframes profile--animate {
   0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }

   50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
   }

   100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }
}

/* BREAK POINTS */
@media screen and (max-width: 1200px) {
   .hero--content {
      padding-top: 7rem;
   }

   .hero--subtitle {
      padding-left: 3.75rem;
      margin-bottom: 1rem;
   }

   .hero--subtitle::before {
      width: 42px;
      top: 0.8rem;
   }

   .hero--img {
      width: 250px;
      height: 250px;
      box-shadow: inset 0 0 0 8px rgb(225 225 225 / 30%);
   }

}

@media screen and (max-width: 1051px) {
   .hero--content {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 0.25rm);
      align-items: center;
      padding-top: 0;
   }

   .hero--img {
      order: 1;
      box-shadow: inset 0 0 0 6px rgb(225 225 225 / 30%);
      width: 200px;
      height: 200px;
   }

   .hero--social {
      order: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
   }

   .hero--data {
      order: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}