/* About */
.hero--section--content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 21.333px;
}

.about--section {
   display: grid;
   padding: 18rem 10rem;
   align-items: center;
   gap: 4rem;
   grid-template-columns: repeat(2, 1fr);
}

.about--section--img {
   display: flex;
}

.about--section--img>img {
   margin: auto;
   width: 60%;
   height: 60%;
}